# /etc/systemd/system/lockdown-chat.service

[Unit]
Description=LockDown Chat Server
Wants=nginx.service

[Service]
Type=simple
WorkingDirectory=/root/lockdown-chat/
Environment=RACK_ENV=production

# the wrapper path to bundle assumes you're using RVM
# echo $rvm_path/wrappers/lockdown-chat 
ExecStart=/usr/local/rvm/wrappers/lockdown-chat/bundle exec "puma -b tcp://0.0.0.0:9393 config.ru"
ExecStop=/bin/kill -- $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
